html{
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    text-align: center;
}

.thumbnails{
    width: 300px;
    height: 300px;
}

ul{
    list-style-type: none;
}

.container{
    display: flex;
    flex-flow: row wrap;
}

#mainPage a{
    text-decoration: none;
    padding: 10px;
    font-weight: 1000;
}

li{
    display: inline-block;
}

p{
    font-size: 17px;
}

h1{
    display: none;
}

#heading{
    width: 500px;
}

a{
    color: black;
}
